---
const { className } = Astro.props
import itSkills from '@/config/it-skills.json'
import Skill from './Skill.astro'
---

<section
    class={className}
    id="it-skills"
>
    <div class="rounded border border-border p-12 lg:p-9 h-full">
        <ul class="flex items-center space-x-4">
            <h4 class="text-primary">IT Skills</h4>
        </ul>
        <Skill
            skillList={itSkills.leadershipAndManagement}
            skillType="Leadership"
        />
        <Skill
            skillList={itSkills.cloudPlatforms}
            skillType="Cloud Platforms"
        />
        <Skill
            skillList={itSkills.devOpsPractices}
            skillType="Infrastructure"
        />
        <Skill
            skillList={itSkills.backendTechnologies}
            skillType="Backend Technologies"
        />
        <Skill
            skillList={itSkills.frontendTechnologies}
            skillType="Frontend Technologies"
        />
    </div>
</section>
