---
const { className } = Astro.props
import projects from '@/config/projects.json'
---

<section
    class={className}
    id="projects"
>
    <div class="rounded border border-border p-12 lg:p-9 h-full">
        <h4 class="text-primary mb-4">Personal Projects</h4>
        <ul class="space-y-6">
            {
                projects.map((exp) => (
                    <li class="border-border pb-4">
                        <h5 class="text-md font-bold">{exp.role}</h5>
                        <p class="text-muted-foreground">
                            {exp.company} <br />
                            {exp.period}
                        </p>
                        <p class="mt-2">{exp.description}</p>
                        <ul class="list-disc list-inside space-y-1 mt-2">
                            {exp.achievements.map((item) => (
                                <li>{item}</li>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </div>
</section>
