---
import ImageMod from '@/components/ImageMod.astro'
import Pagination from '@/components/Pagination.astro'
import Social from '@/components/Social.astro'
import Contacts from '@/components/Contacts.astro'
import Education from '@/components/Education.astro'
import Career from '@/components/Career.astro'
import Interests from '@/components/Interests.astro'
import Skills from '@/components/Skills.astro'
import Keys from '@/components/Keys.astro'
import Overwiev from '@/components/Overwiev.astro'
import config from '@/config/config.json'
import contacts from '@/config/contacts.json'
import Base from '@/layouts/Base.astro'
import { getSinglePage } from '@/lib/contentParser.astro'
import { markdownify } from '@/lib/utils/textConverter'
import Projects from '@/components/Projects.astro'

const posts = await getSinglePage('posts')
const { pagination } = config.settings
const { name, image, designation, bio } = config.profile
---

<Base>
    {/* profile */}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center lg:col-8">
                    <ImageMod
                        class="mx-auto rounded-full"
                        src={image}
                        width={220}
                        height={220}
                        alt={name}
                        loading="eager"
                    />
                    <h1
                        set:html={markdownify(name)}
                        class="mt-12 text-6xl lg:text-8xl font-semibold"
                    />
                    <p
                        set:html={markdownify(designation)}
                        class="mt-6 text-primary text-xl"
                    />
                    <p
                        set:html={markdownify(bio)}
                        class="mt-4 leading-9 text-xl"
                    />
                    <Social
                        source={contacts.socials}
                        className="social-icons mt-8"
                    />
                </div>
            </div>
        </div>
    </div>

    {/* contents */}
    <div class="pt-4">
        <div class="container">
            <div class="row">
                <div class="mx-auto lg:col-12">
                    <div class="row g-4">
                        <Overwiev className="col-12 sm:col-12" />
                        <Education className="col-12 sm:col-8" />
                        <Keys className="col-12 sm:col-4" />
                        <Career className="col-12 sm:col-8" />
                        <Skills className="col-12 sm:col-4" />
                        <Interests className="col-12 sm:col-6" />
                        <Projects className="col-12 sm:col-6" />
                        <Contacts className="col-12 sm:col-12" />
                    </div>
                </div>
            </div>
            <div class="mt-12">
                <Pagination
                    totalPages={Math.ceil(posts.length / pagination)}
                    currentPage={1}
                />
            </div>
        </div>
    </div>
</Base>
